html
  head
    title #{subject}
  body
    p A request has been sent to reset your password to the Soda Club. You can now go to <a href=#{reset_link}>#{reset_link}</a> to reset your password. If you have not requested a reset, then you can safely ignore this email.

